__pycache__
tests/simulations
experiments/simulations
problems/simulations
benchmark/simulations
benchmark/simulations_*/**
benchmark/data
experiments/**/simulations
hyper/simulations

xx/xx_tests/simulations
.Rproj.user
dashboard/.RData
dashboard/.Rhistory
dashboard/data
